
/** ADD YOUR AWESOME CODES HERE **/

.col-lg-4 {
    position: relative;
    max-width: 100px;
    padding-right: 100px;
    margin-left: 100px;
    background: white;

}



.list-group {
    align-items: center;
}

.list-group-item {
    font-family: 'Rubik', sans-serif;
	font-weight: 200;

    margin-left: 150px;
    background-color: orange;
    width: 200px;
    border-radius: 10px 10px 10px 10px;
}

.list-group-item:hover {
    margin-left: 150px;
    background: #d65106;
	color: #ffffff;
    width: 200px;
    border-radius: 30px 30px 30px 30px;
}

.card {
    background-color:transparent;
    border-radius: 30px 30px 30px 30px;

}

.card-body-text {
    border-radius: 30px 30px 30px 30px;
    background-color:transparent;
    color:white;


}

.card-img-top {
    opacity: 1;
    border-radius: 30px 30px 30px 30px;
    background-color:transparent;

}

.btn-outline-success {
    font-size: 1.6em;
    font-family: 'Rubik', sans-serif;
	font-weight: 200;


}

.slick-list {
    background-color:transparent;
    border-radius: 30px 30px 30px 30px;

}


